<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="1">
    <title>Xprime</title>

    <!-- Installer options -->
    <options customize="allow" rootVolumeOnly="true" hostArchitectures="i386,arm64"/>

    <!-- Background image -->
    <background file="Background-Neutral.png" alignment="topleft" scaling="proportional"/>

    <!-- Welcome and License -->
    <welcome file="en.lproj/Welcome.rtf" mime-type="text/rtf" uti="public.rtf"/>
    <license file="en.lproj/License.rtf" mime-type="text/rtf" uti="public.rtf"/>

    <!-- Choices outline -->
    <choices-outline>
        <line choice="xprime"/>
        <line choice="hp"/>
    </choices-outline>

    <!-- Xprime choice (base component) -->
    <choice id="xprime"
            title="Install Xprime Code Editor"
            description="Installs the Xprime and Developer Tools."
            selected="true"
            enabled="false">
        <pkg-ref id="uk.insoft.xprime"/>
    </choice>
    
    <!-- HP -->
    <choice id="hp"
            title="Install HP Connectivity Kit Patch"
            description="Patch the config.xml file for HP Connectivity Kit."
            selected="false"
            enabled="true">
        <pkg-ref id="uk.insoft.hp"/>
    </choice>

    <!-- Package references -->
    <pkg-ref id="uk.insoft.xprime" installKBytes="4336" version="1.5">xprime.pkg</pkg-ref>
    <pkg-ref id="uk.insoft.hp" installKBytes="20" version="1.5">hp.pkg</pkg-ref>
</installer-gui-script>
